@media screen and (max-width: 576px) {
    .nav-section{
        flex-direction: column;
    }

    .nav-listing{
        flex-direction: column;
        margin-top: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .banner-img{
        width: 100%;
    }
    .gamer{
        flex-direction: column;
    }
    .gamer img{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and ( max-width: 920px) {
    .nav-section{
        flex-direction: column;
        gap: 1.5rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .banner-img{
        width: 100%;
    }
    .gamer{
        flex-direction: column;
    }
    .gamer img{
        width: 100%;
    }
}